/*======================
   01.fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


:root{
	--dark_blue: #9ccb3b;
	--color: #0f5b37;
	--duration: 6.8s;
}

/*======================
   02. Basic css
========================*/
::-moz-selection{
	background-color: var(--color);
	color: var(--dark_blue);
}
::selection{
	background-color: var(--color);
	color: var(--dark_blue);
}
html{
	font-size: 62.5%;
}
a, button, img{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.44;
	font-family: "Source Sans 3", sans-serif;
	background-color: #fff;
	color: #000;
	font-weight: 400;
	font-size: 2.2rem;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}
p a{
	color: var(--color);
}
p a:hover{
	color: var(--dark_blue);
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus{
	outline: none;
}
h1, h2{
	font-size: 5rem;
	font-weight: 700;
	line-height: 1.14;
	font-family: "Cinzel Decorative", serif;
	color: var(--color);
}
h3{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}
h3 span{
	color: var(--color);
}
main {
    padding-top: 12rem;
}

/* page loader  */
#preloader {
	position: fixed;
	background: var(--color);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.sun {
  background: -o-radial-gradient(circle, rgba(14,69,43,1) 0%, rgba(156,203,59,1) 100%);
  background: radial-gradient(circle, rgba(14,69,43,1) 0%, rgba(156,203,59,1) 100%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.planetX {
  position: absolute;
  z-index: 100;
  border-radius: 50%;
}
.planet1 {
  left: 20px;
  height: 13px;
  width: 13px;
  background-color: #ff8;
}
.planet2 {
  left: 23px;
  height: 20px;
  width: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), color-stop(#09f), to(#09f));
  background: -o-linear-gradient(#00ff00, #09f, #09f);
  background: linear-gradient(#00ff00, #09f, #09f);
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}
.planet3 {
  left: 49px;
  height: 17px;
  width: 17px;
  background: -o-radial-gradient(circle, rgba(202,228,214,1) 0%, rgba(156,203,59,1) 100%);
  background: radial-gradient(circle, rgba(202,228,214,1) 0%, rgba(156,203,59,1) 100%);
}
.orbit {
  background: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.orbit1 {
  height: 100px;
  width: 100px;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}
.orbit2 {
  height: 150px;
  width: 150px;
  -webkit-animation: rotation 3s infinite linear;
  animation: rotation 3s infinite linear;
}
.orbit3 {
  height: 200px;
  width: 200px;
  -webkit-animation: rotation 6s infinite linear;
  animation: rotation 6s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	display: none;
	z-index: 999;
	margin-left: 2rem;
	position: relative;
}
.hamburger-menu span {
	background: var(--dark_blue);
	width: 4rem;
	height: .4rem;
	display: block;
	margin: .55rem 0;
	border-radius: 2rem;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(245%) rotate(135deg);
	-ms-transform: translateY(245%) rotate(135deg);
	transform: translateY(245%) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-245%) rotate(-135deg);
	-ms-transform: translateY(-245%) rotate(-135deg);
	transform: translateY(-245%) rotate(-135deg);
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1024;
	width: 100%;
	background-color: #fff;
	padding: 0.5rem 0;
}
/* header::after {
    content: '';
    position: absolute;
    bottom: -6.4rem;
    left: 0;
    width: 100%;
    height: 10.5rem;
    background-image: url(../img/header.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	z-index: -1;
} */
/*sticky START CSS*/
header.sticky {
   -webkit-box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
   box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
   padding: .5rem 0;
   position: fixed;
   top: 0;
}
.logo{
	display: block;
	width: 100%;
	max-width: 11rem;
}
.menu_wrapper {
	width: 100%;
	max-width: 121rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	}
.menu>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.menu>ul>li {
   padding: 1.5rem 2.5rem;
   margin-left: 0.5rem;
}
.menu>ul>li>a {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--color);
	line-height: 1;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu>ul>li.active>a:not(.button),
.menu>ul>li>a:not(.button):hover {
	color: var(--dark_blue) !important;
}
.menu>ul li.dropdown_wrap{
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.menu>ul li.dropdown_wrap:hover{
	background-color: var(--color);
}
.menu>ul li.dropdown_wrap:hover>a{
	color: #fff !important;
}
.menu>ul li.dropdown_wrap>a::after {
	content: '\f107';
	font-family: 'Font Awesome 5 Pro';
	margin-left: 0.5rem;
	font-size: 85%;
	position: relative;
	top: 0.2rem;
}
.menu>ul li.dropdown_wrap>ul {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--color);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
	pointer-events: none;
}
.menu>ul li.dropdown_wrap:hover>ul{
	opacity: 1;
	pointer-events: all;
}
.menu>ul li.dropdown_wrap>ul>li>a{
	color: #fff;
	font-size: 2.2rem;
	font-weight: 400;
	white-space: nowrap;
	padding: 1rem 2.5rem;
	display: block;
}
.menu>ul li.dropdown_wrap>ul>li>a::after {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	display: inline-block;
	margin-left: 1.5rem;
	top: 0;
}
.menu>ul li.dropdown_wrap>ul>li:hover>a,
.menu>ul li.dropdown_wrap>ul>li.active>a{
	background-color: var(--dark_blue);
	color: #fff !important;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul{
	background-color: var(--dark_blue);
	top: 0;
	left: 100%;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a{
	color: #fff;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a:hover,
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a.active{
	background-color: var(--color);
	color: var(--dark_blue) !important;
}
.search_form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 29rem;
}
.search_form input{
	padding: 0 2rem;
	color: var(--dark_blue);
	height: 4.4rem;
	border: .1rem solid #CDCDCD;
	border-radius: 0.3rem 0 0 0.3rem;
	border-right: none;
	width: 100%;
}
.search_form button{
	width: 4.4rem;
	text-align: center;
	border: none;
	background-color: var(--dark_blue);
	color: #fff;
	padding: 0;
	border-radius: 0 0.3rem 0.3rem 0;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.search_form button:hover{
	background-color: var(--green);
}
/*button*/
.button{
  background-color: var(--color);
  border-radius: 5rem;
  color: #fff;
  font-size: 2.3rem;
  position: relative;
  display: inline-block;
  padding: 1.3rem 3.5rem;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  border: none;
  outline: 0.2rem solid var(--dark_blue);
  outline-offset: -0.7rem;
}
.button i{
	margin-right: 0.7rem;
	font-size: 2rem;
}
.button:hover{
	color: #fff;
	outline-offset: -0.1rem;
	outline: 0.2rem solid var(--color);
}
.row:not(.no-gutters){
	margin-left: -2rem;
	margin-right: -2rem;
}
.row:not(.no-gutters)>div{
	padding-left: 2rem;
	padding-right: 2rem;
}
.heading img{
	width: 7rem;
}
/*---------------home area--------------*/
.home_area{
	color: #fff;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.home_area::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/shp1g.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 14.7rem;
}
.home_area .container{
	padding: 18.5rem 0;
}
.text-img{
	width: 24.5rem;
	margin-bottom: 3rem;
}
.ayat-txt{
	width: 85rem;
	margin: 0 auto;
	display: block;
}
.home_area h1{
	font-size: 3rem;
	line-height: 1;
	text-shadow: 0.1rem 0.5rem 4rem rgba(0, 0, 0, 0.5);
	margin: 1rem 0;
	color: #fff;
}
/*return-to-top START CSS*/
.back-to-top {
	font-size: 2.6rem;
	width: 5rem;
	height: 5rem;
	line-height: 5.2rem;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 3.0rem;
	right: 2.0rem;
	/* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
	border-radius: 50%;
	background: var(--dark_blue);
	z-index: 1000;
}

.back-to-top i {
	color: #fff;
}


.owl-dots {
	margin-top: 3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.owl-dots button{
	height: 0.5rem;
	width: 4.5rem;
	background-color: var(--color);
	padding: 0.1rem;
	margin-top: 1rem;
}
.owl-dots button.active{
	background-color: var(--dark_blue);
}
.owl-nav button{
	padding: 0.4rem;
	background-color: #fff;
	color: var(--dark_blue);
	font-size: 3rem;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border: none;
	-webkit-box-shadow: 0.1rem 0.5rem 2.5rem rgba(0, 0, 0, 0.16);
	        box-shadow: 0.1rem 0.5rem 2.5rem rgba(0, 0, 0, 0.16);
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.owl-nav button:hover{
	color: var(--dark_blue);
	background-color: var(--color);
}
.owl-nav button.owl-prev{
	left: -10rem;
}

.owl-nav button.owl-next{
	right: -10rem;
}

/*-----------------footer------------------*/
footer{
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5rem 0 3rem;
	position: relative;
	z-index: 1;
}
footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #004b39d9;
    left: 0;
	z-index: -1;
}
.footer_left_top img{
	width: 8rem;
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}
.footer_top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
	padding-bottom: 4rem;
	margin-bottom: 4rem;
}
.footer_left_top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: 3rem;
	   -moz-column-gap: 3rem;
	        column-gap: 3rem;
}
.footer_top h2{
	font-size: 4rem;
	color: #fff;
}
.footer_list h2{
	font-size: 3rem;
	color: #fff;
	margin-bottom: 2.5rem;
}
.footer_list p{
	color: #fff;
}
.left_style_list li a{
	color: #fff;
}
.left_style_list li a:hover{
	color: var(--dark_blue);
}
.left_style_list li{
	margin-bottom: 0.8rem;
	position: relative;
	padding-left: 2rem;
}
.left_style_list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    width: 0;
    height: 0;
    border-top: 0.8rem solid transparent;
    border-left: 0.8rem solid #fff;
    border-bottom: 0.8rem solid transparent;
}
.list_circle li{
	color: #fff;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 2.5rem;
}
.li_cr{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: #fff;
	font-size: 2.5rem;
	margin-right: 2rem;
	color: var(--color);
}
.footer_bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #fff;
	border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
	padding-top: 3rem;
	margin-top: 4rem;
}
.icon_box a{
	color: #fff;
	font-size: 2.5rem;
	line-height: 1;
}
.icon_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.icon_box a:not(:last-child){
	margin-right: 2rem;
	padding-right: 1rem;
	border-right:0.1rem solid #fff;
	
}
/*----------------inner pages----------------*/
.inner_home {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 25rem 0 7rem;
    text-align: center;
    position: relative;
    z-index: 1;
}
.inner_home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: .4;
    left: 0;
	z-index: -1;
}
.inner_home img{
	width: 7rem;
	margin-bottom: 2rem;
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}
.inner_home h2{
	color: #fff;
}
.social_link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	margin-top: -2rem;
}
.social_link a{
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--dark_blue);
	color: #fff;
	font-size: 2rem;
	border: 0.1rem solid #fff;
}
.social_link a:hover{
	background-color: var(--color);
	color: var(--dark_blue);
}
.inner_content{
	padding: 10rem 0;
}
.inner_content p{
	text-align: center;
	max-width: 116rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
}

/* -------------------service area------------------ */
.service_cart{
	background-repeat: no-repeat;
	position: top center;
	background-size: cover;
	height: 50rem;
	padding: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	z-index: 1;
	border-radius: 1rem;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
.service_cart::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0000004f), to(#025C49));
	background-image: -o-linear-gradient(top, #0000004f 0%, #025C49 100%);
	background-image: linear-gradient(180deg, #0000004f 0%, #025C49 100%);
	z-index: -1;
}
.service_cart h2{
	color: #fff;
	font-size: 3rem;
	margin-bottom: 1rem;
}
.video {
    position: relative;
    text-align: center;
}
.video a,
.cirle_poss {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-5.0rem, -5.0rem);
        -ms-transform: translate(-5.0rem, -5.0rem);
            transform: translate(-5.0rem, -5.0rem);
}
.video a i {
    margin: 0;
    width: 10.0rem;
    height: 10.0rem;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
	font-size: 8rem;
	color: var(--dark_blue);
}
.video a i::after {
    border: .3rem solid var(--dark_blue);
    width: 11.5rem;
    height: 11.5rem;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    content: "";
    -webkit-animation: video-button 5s infinite;
            animation: video-button 5s infinite;
}
@-webkit-keyframes video-button {
    0% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(.7);
                transform: scale(.7);
    }
    100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@keyframes video-button {
    0% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(.7);
                transform: scale(.7);
    }
    100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
}
.video img {
    border-radius: 50%;
    border-top-left-radius: 0;
	width: 100%;
}
.video::before {
    z-index: -1;
    left: -28%;
    content: "";
    position: absolute;
    background-image: url(../img/background-history.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
    bottom: -18%;
}
.video_area .video::before{
	display: none;
}
.cirle_poss{
	width: 13rem !important;
}
.video_area{
	padding: 4rem 0;
}
.video_wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 112rem;
    height: 54rem;
    margin: 0 auto;
    border-radius: 11rem;
}
.video a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-5.0rem, -5.0rem);
        -ms-transform: translate(-5.0rem, -5.0rem);
            transform: translate(-5.0rem, -5.0rem);
}
/*---------------- reviews area ------------*/
.reviews_area{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7rem 0;
	position: relative;
	z-index: 1;
}
.reviews_area::after {
    position: absolute;
    background-image: url(../img/03.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
}
.testi-box img{
	width: 13rem;
}
.testi-box{
	text-align: center;
}
.testi-box h2{
	font-size: 4rem;
	margin: 2rem;
}
.testi-box p{
	font-size: 3rem;
	max-width: 88rem;
	margin: 0 auto;
}
.owl-carousel .owl-stage{
	padding: .2rem;
}
.owl-carousel .owl-stage-outer{
	padding: .2rem;
}

.slider1 .owl-stage{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*-------------------- about_area-------------- */
.about_area{
	padding: 8rem 0 16rem;
}
.welcome-to-ibadat-established {
    position: relative;
}
.welcome-to-ibadat-established img {
    border-radius: 50.0rem;
    border-top-right-radius: 0;
}
.welcome-to-ibadat-established img.to-ibadat-img {
    position: absolute;
    right: 10%;
    bottom: -28%;
    border-radius: 50.0rem;
    border-top-left-radius: 0;
}
.welcome-to-ibadat-established h4 {
    position: absolute;
    background-color: var(--color);
    margin: 0;
    font-size: 4.0rem;
    font-weight: bold;
    display: inline-block;
    line-height: 4.0rem;
    text-align: center;
    border-radius: 50%;
    width: 17.0rem;
    z-index: 11;
    height: 17.0rem;
    z-index: 1;
    padding-top: 3.5rem;
    border: .1rem solid var(--dark_blue);
    outline: .7rem solid var(--color);
	color: var(--dark_blue);
}
.welcome-to-ibadat-established span {
    font-size: 1.9rem;
}
.islamic-history .list li{
	position: relative;
	margin-bottom: 1rem;
	padding-left: 3.5rem;
}
.islamic-history .list li::before{
	content: '';
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--color);
	left: 0;
	top: 30%;
}
.islamic-history h4 {
    display: inline-block;
    font-size: 3rem;
    color: #000;
    text-transform: capitalize;
    border-bottom: .5rem solid var(--color);
    margin-bottom: 2.6rem;
}
.islamic-history p{
	margin-bottom: 3rem;
}
.ibadat_islam{
	height: 50rem;
	-o-object-fit: cover;
	   object-fit: cover;
}
/*------------- community_area ---------*/
.community_area{
	background-color: #f8f8f8;
	padding: 7rem 0;
}
.comm_card{
	background-color: #fff;
	border-radius: 2rem;
	padding: 4rem 4.2rem;
}
.comm_card h2{
	font-size: 7rem;
	margin-right: 2rem;
	line-height: 1;
}
.comm_card h3{
	font-size: 4rem;
    font-weight: 700;
    line-height: 1.14;
    font-family: "Cinzel Decorative", serif;
    color: var(--dark_blue);
}
.comm_card p{
	margin-top: 2rem;
}

/*----------------- team_area-------------- */

.our-best-team-content.v1 {
	overflow: hidden;
  }
  
  .our-best-team-content.v1 .team-img {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 1.0rem;
  }
  
  .our-best-team-content.v1 .team-img:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
  }
  
  .our-best-team-content.v1 .team-img img {
	width: 100%;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 57rem;
	-o-object-fit: cover;
	   object-fit: cover;
  }
  
  .our-best-team-content.v1 .team-img .team-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-radius: .5rem;
	width: 90%;
	padding: 2.4rem;
	background: #fff;
	position: absolute;
	bottom: 2.2rem;
	right: 5%;
  }
  
  .our-best-team-content.v1 .team-img .team-content .left-data .team-title {
	font-size: 2.5rem;
	font-family: "Cinzel Decorative", serif;
	font-weight: 700;
	color: var(--color);
  }
  
  .our-best-team-content.v1 .team-img .team-content .left-data .team-para {
	margin-top: .3rem;
	font-size: 2rem;
	color: var(--dark_blue);
	font-weight: 500;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	overflow: hidden;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box .share {
	width: 4.6rem;
	height: 4.6rem;
	background: var(--color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: .5rem;
	cursor: pointer;
	overflow: hidden;
	padding-top: 0.3rem;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box .share a {
	color: #fff;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul {
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	position: absolute;
	top: -17.1rem;
	right: 2.4rem;
	border-radius: .2rem;
	overflow: hidden;
	opacity: 0;
	display: block;
	-webkit-transform: translateY(8.0rem);
	    -ms-transform: translateY(8.0rem);
	        transform: translateY(8.0rem);
	z-index: -1;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	padding: .8rem 0;
	width: 4.6rem;
	height: 4.6rem;
	background: var(--color);
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li a {
	color: #fff;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li:hover a {
	color: var(--dark_blue);
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 1.6rem;
	height: 0..5rem;
	background: #fff;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li:last-child {
	padding: 0;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box ul li:last-child::before {
	display: none;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box:hover {
	display: block;
  }
  
  .our-best-team-content.v1 .team-img .team-content .team-share-box:hover ul {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	    transform: translateY(0);
	opacity: 1;
	display: block;
	z-index: 0;
  }
/* --------------pillars_area--------------- */
.pillars_area{
	padding: 5rem 0;
}
.pillars_card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9rem 3rem;
    text-align: center;
}
.pillars_cont>img{
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}
.pillars_cont h3{
	color: #fff;
	margin: 1rem 0;
	text-transform: capitalize;
	font-family: "Cinzel Decorative", serif;
}
.pillars_cont p{
	color: #fff;
	margin-top: 1rem;
}
.piillar_images img{
	width: 13rem;
	height: 13rem;
	border-radius: 50%;
	border:  0.2rem solid #fff;
	padding: 1rem;
}
/* ----------------guide_area-------------- */
.guide_area{
	padding: 5rem 0;
}
.guide_card{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 1rem;
    max-width: 95%;
}
.guide_card > span {
	font-family: "Cinzel Decorative", serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
	color: var(--dark_blue);
}
.guide_card > span i {
    display: block;
    font-size: 1.8rem;
    font-style: normal;
    white-space: nowrap;
}
.guide_card_cont{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-left: 0.1rem solid #909090;
	margin-left: 2rem;
	padding-left: 2.5rem;
}
.guide_card_cont h2 a{
	font-size: 3.5rem;
	color: var(--color);
	line-height: 1;
}
.guide_card_cont h2{
	line-height: 1;
	margin-bottom: 1rem;
}
.guide_card_cont p{
	margin-bottom: 1rem;
}
.cta {
	position: relative;
	margin-right: auto;
	padding: 1.9rem 2.2rem;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
  }
  .cta:before {
	content: "";
	position: absolute;
	top: 10%;
	left: 0;
	display: block;
	border-radius: 2.8rem;
	background: var(--dark_blue);
	width: 5.6rem;
	height: 5.6rem;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .cta span {
	position: relative;
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	vertical-align: middle;
	color: #000;
  }
  .cta svg {
	position: relative;
	top: 0;
	margin-left: 1.0rem;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	-webkit-transform: translateX(-.5rem);
	    -ms-transform: translateX(-.5rem);
	        transform: translateX(-.5rem);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  .cta:hover:before {
	width: 100%;
	background: var(--dark_blue);
	color: #fff;
  }
  .cta:hover svg {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
  }
  .guide_card_img{
	display: block;
	overflow: hidden;
	border-radius: 2rem;
	border: 0.1rem solid var(--dark_blue);
  }
  .demo-box {
    width: 100%;
    height: 35.0rem;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.demo-box img {
    max-width: 100%;
    cursor: pointer;
    display: inline-block;
}
.demo-box:hover img {
  -webkit-animation: moveSlideshow 3s ease-in-out forwards;
          animation: moveSlideshow 3s ease-in-out forwards;
  margin-bottom: -30.0rem;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);

  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);

  }
}
/* ---------donate_area---------- */
.donate_area{
	margin: 10rem 0 7rem;
}
.donate_from_cart {
    /* border: 0.1rem solid var(--dark_blue); */
    padding: 4rem;
    /* height: 100%; */
    width: 67rem;
    margin: 0 auto;
}
.donate_from_cart ul li{
	font-size: 2.5rem;
	color: #fff;
}
.donate_area h2{
	text-align: center;
	color: #fff;
	padding-top: 4rem;
}
.bank_wrap,
.bkash_wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.donate_line{
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}
.bank_wrap img,
.bkash_wrap img {
    width: 10rem;
	height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 3rem;
    border: 0.1rem solid #fff;
	border-radius: 50%;
	padding: 0.5rem;
}
/*--------------- follow_area---------------- */
.follow_area{
	padding: 5rem 0 8rem;
	background-color: #f8f8f8;
}
.follow_img img{
	border-radius: 1rem;
}
.follow_center {
    width: 100%;
    height: 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 25.5rem 0;
}
.follow_center h2{
	font-size: 3rem;
	color: #fff;
	margin-top: 2rem;
}
.follow_center h2 strong{
	font-size: 2.4rem;
	display: block;
}
.follow_center i{
	font-size: 3.5rem;
	color: #fff;
}
/*-------------- namaz_area------------- */
.namaz_area{
	margin: 2rem 0;
	position: relative;
	z-index: 1;
}
.namaz_area::before {
    content: '';
    position: absolute;
    right: 0;
    top: 12%;
    width: 100rem;
    height: 58rem;
    background-image: url(../img/left_shape.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
	opacity: 0.7;
}
.namaz_wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 22rem 0 8rem;
    text-align: center;
}
.namaz_wrapper h2{
	color: #fff;
}
.namaz_area h6{
	color: #fff;
	margin-bottom: 2rem;
}
.namaz_area ul li{
	color: #fff;
	margin-bottom: 0.7rem;
}
/* -----------contact_area------------- */
.contact_area{
	padding: 7rem 0;
}
.contact-us {
    margin-bottom: 3.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10.0rem;
    border-top-left-radius: 0;
    padding: 4.0rem;
	background-color: var(--color);
}
.contact-us h4 {
	color: #fff;
    padding-bottom: 1.0rem;
	font-size: 3.4rem;
	font-weight: 600;
}
.contact-us a {
    color: #fff;
    display: block;
	font-size: 2.2rem;
}
.contact-us p {
	color: #fff;
	font-size: 2.2rem;
}
.contact-us a:hover{
	color: var(--color);
}
.contact-us i {
    width: 10rem;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--dark_blue);
    border-radius: 50%;
}
.contact-us i img{
	width: 7rem;
}
.contact_area .donate_from_cart{
	height: auto;
	padding: 4.5rem 3rem;
}
.donate_wrapper{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--color);
	position: relative;
	z-index: 1;
	border-radius: 4rem;
	overflow: hidden;
}
.contact_shape {
    width: 40rem;
	margin-bottom: -0.1rem;
}
.donate_wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color);
    opacity: 0.8;
}
/* gallery_area */

.gallery_area{
	padding: 7rem 0;
}
.img_wraper_gallery {
  display: -ms-flexbox; 
  display: -webkit-box; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 .4rem;
}
.column {
	-ms-flex: 25%;
	-webkit-box-flex: 25%;
	        flex: 25%;
	max-width: 25%;
	padding: 0 .4rem;
}
.proje_img img {
	margin-top: .8rem;
	vertical-align: middle;
	width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0.7rem;
  }
  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0.5rem grey;
	        box-shadow: inset 0 0 0.5rem grey; 
	border-radius: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
	background: var(--color); 
	border-radius: 0.5rem;
  }

  /* islam_pillars_area */
  .islam_pillars_area{
	padding: 5rem 0 10rem;
  }
  .custom_row{
	margin-left: -1rem !important;
	margin-right: -1rem !important;
  }
  .custom_row>div{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
  }
  .col-cus{
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
}
.pillar_wrap{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top bottom;
	height: 30rem;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 5rem 1rem;
}
.pillar_wrap h3{
	font-size: 2.5rem;
	margin-top: 1.5rem;
	color: #606060;
}
.pillar_img_wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.pillar_img_wrap img{
	width: 26rem;
}
.pillar_img_wrap h2{
	font-size: 2.5rem;
	margin-bottom: 2rem;
}